torch
numpy==1.26.4  # 锁定1.x版本，适配pyarrow/datasets
transformers==4.28.1
datasets==2.12.0
fsspec==2023.9.2
matplotlib
tqdm
openai
nltk
scikit-learn
rank-bm25
selenium
nltk
textattack
pyarrow==8.0.0  # 适配datasets==2.12.0的最优版本
# google
# anthropic
